In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('AviationData.csv', encoding = 'latin-1', low_memory = False)

In [7]:
df.shape

(88889, 31)

In [8]:
df.head(5)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [9]:
df.tail(5)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [10]:
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [12]:
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [13]:
df.loc[0:5, 'Make':'Model']

                Make     Model
0            Stinson     108-3
1              Piper  PA24-180
2             Cessna      172M
3           Rockwell       112
4             Cessna       501
5  Mcdonnell Douglas       DC9

In [14]:
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

# IDENTIFY COLUMNS NECESSARY FOR ANALYSIS

In [15]:
df_necessary = df[['Investigation.Type','Make','Model', 'Aircraft.Category', 'Aircraft.damage', 'Injury.Severity', 'Broad.phase.of.flight', 'Purpose.of.flight', 'Publication.Date']]

In [16]:
df = df_necessary
df

,Investigation.Type,Make,Model,Aircraft.Category,Aircraft.damage,Injury.Severity,Broad.phase.of.flight,Purpose.of.flight,Publication.Date
0,Accident,Stinson,108-3,NaN,Destroyed,Fatal(2),Cruise,Personal,NaN
1,Accident,Piper,PA24-180,NaN,Destroyed,Fatal(4),Unknown,Personal,19-09-1996
2,Accident,Cessna,172M,NaN,Destroyed,Fatal(3),Cruise,Personal,26-02-2007
3,Accident,Rockwell,112,NaN,Destroyed,Fatal(2),Cruise,Personal,12-09-2000
4,Accident,Cessna,501,NaN,Destroyed,Fatal(1),Approach,Personal,16-04-1980
...,...,...,...,...,...,...,...,...,...
88884,Accident,PIPER,PA-28-151,NaN,NaN,Minor,NaN,Personal,29-12-2022
88885,Accident,BELLANCA,7ECA,NaN,NaN,NaN,NaN,NaN,NaN
88886,Accident,AMERICAN CHAMPION AIRCRAFT,8GCBC,Airplane,Substantial,Non-Fatal,NaN,Personal,27-12-2022
88887,Accident,CESSNA,210N,NaN,NaN,NaN,NaN,Personal,NaN
88888,Accident,PIPER,PA-24-260,NaN,NaN,Minor,NaN,Personal,30-12-2022

# MISSING VALUES

In [17]:
#drop missing values from the above columns
df = df.dropna(axis = 'index', how = 'any')
df

,Investigation.Type,Make,Model,Aircraft.Category,Aircraft.damage,Injury.Severity,Broad.phase.of.flight,Purpose.of.flight,Publication.Date
7,Accident,Cessna,140,Airplane,Substantial,Non-Fatal,Takeoff,Personal,01-01-1982
8,Accident,Cessna,401B,Airplane,Substantial,Non-Fatal,Landing,Business,01-01-1982
12,Accident,Bellanca,17-30A,Airplane,Destroyed,Non-Fatal,Cruise,Personal,02-01-1983
13,Accident,Cessna,R172K,Airplane,Destroyed,Fatal(1),Takeoff,Personal,02-01-1983
14,Accident,Navion,A,Airplane,Destroyed,Fatal(1),Cruise,Personal,02-01-1983
...,...,...,...,...,...,...,...,...,...
63906,Accident,Althouse,RAF 2000 GTX,Gyrocraft,Destroyed,Fatal(2),Maneuvering,Personal,03-12-2008
63908,Accident,Bell,206L-3,Helicopter,Substantial,Fatal(3),Maneuvering,Other Work Use,15-01-2009
63909,Accident,Cirrus Design Corp.,SR22,Airplane,Substantial,Fatal(1),Maneuvering,Personal,20-06-2014
63910,Accident,Lerohl,RV-8,Airplane,Substantial,Non-Fatal,Takeoff,Personal,28-02-2008
63911,Accident,Piper,PA-12,Airplane,Substantial,Non-Fatal,Landing,Instructional,28-02-2008

In [18]:
df.shape

(7095, 9)

Our Rows have dropped from 88889 to 6187

# FILTER  FURTHER
Our problem staement includes purchasing airplanes. We thus do not need those of different category
such as helicopter.

In [19]:
df_airplane = df[df['Aircraft.Category'] == 'Airplane']

In [20]:
df = df_airplane

In [21]:
df.shape

(6187, 9)

In [22]:
df

,Investigation.Type,Make,Model,Aircraft.Category,Aircraft.damage,Injury.Severity,Broad.phase.of.flight,Purpose.of.flight,Publication.Date
7,Accident,Cessna,140,Airplane,Substantial,Non-Fatal,Takeoff,Personal,01-01-1982
8,Accident,Cessna,401B,Airplane,Substantial,Non-Fatal,Landing,Business,01-01-1982
12,Accident,Bellanca,17-30A,Airplane,Destroyed,Non-Fatal,Cruise,Personal,02-01-1983
13,Accident,Cessna,R172K,Airplane,Destroyed,Fatal(1),Takeoff,Personal,02-01-1983
14,Accident,Navion,A,Airplane,Destroyed,Fatal(1),Cruise,Personal,02-01-1983
...,...,...,...,...,...,...,...,...,...
63904,Accident,Cessna,172F,Airplane,Substantial,Non-Fatal,Landing,Personal,28-02-2008
63905,Accident,Ercoupe (eng & Research Corp.),415D,Airplane,Substantial,Non-Fatal,Maneuvering,Personal,28-02-2008
63909,Accident,Cirrus Design Corp.,SR22,Airplane,Substantial,Fatal(1),Maneuvering,Personal,20-06-2014
63910,Accident,Lerohl,RV-8,Airplane,Substantial,Non-Fatal,Takeoff,Personal,28-02-2008
63911,Accident,Piper,PA-12,Airplane,Substantial,Non-Fatal,Landing,Instructional,28-02-2008

# IDENTIFY MAKES AND TOTAL ACCIDENTS FOR EACH

In [23]:
df['Make']

7                                Cessna
8                                Cessna
12                             Bellanca
13                               Cessna
14                               Navion
                      ...
63904                            Cessna
63905    Ercoupe (eng & Research Corp.)
63909               Cirrus Design Corp.
63910                            Lerohl
63911                             Piper
Name: Make, Length: 6187, dtype: object

Use a for loop to generate the various models of Airplanes we can buy

In [24]:
make_list = []
#Iterate over the 'Make' column
for value in df['Make']:
    make_list.append(value)
make_list = set(make_list)
make_list

{"Ac Mfg & Dev't Co",
 'Ackert',
 'Acro Sport',
 'Adkins',
 'Aermacchi',
 'Aero Commander',
 'Aero Vodochody Aero. Works',
 'Aeronca',
 'Aeronca Champ',
 'Aeronca Champion',
 'Aeroprakt',
 'Aerosport',
 'Aerostar, S.a',
 'Aerotechnik',
 'Aerotek',
 'Aerotek-pitts',
 'Ageton',
 'Agin Jeffrey T',
 'Air Tractor',
 'Air Tractor Inc',
 'Air Tractor Inc.',
 'Airborne Windsports Ltd',
 'Aircraft Mfg & Dev. Co. (amd)',
 'Alexander',
 'Allegro',
 'Allied Ag Cat Productions, Inc',
 'Alon',
 'Amateur Built',
 'American',
 'American Air Racing',
 'American Aviation',
 'American Aviation Corp. (aac)',
 'American Champion',
 'American Champion (acac)',
 'American Champion Aircraft',
 'American General Aircraft',
 'American Legend',
 'American Legend Aircraft Co.',
 'American Yankee',
 'Ammeter',
 'Amorde',
 'Anderson',
 'Andrews',
 'Anthony J. Bencivenga',
 'Appel',
 'Arctic',
 'Arctic Aircraft',
 'Arganbright',
 'Artic Aircraft Corp.',
 'Auster',
 'Austin',
 'Aviat',
 'Aviat Inc',
 'Avid Aircraft',
 'Avions Max Holste',
 'Avres Corp.',
 'Ayers',
 'Ayres',
 'Baggett',
 'Bagnall Harold E',
 'Bailey',
 'Baker, Timithy',
 'Balkema',
 'Bangham',
 'Barnard',
 'Barnett',
 'Barr',
 'Barron',
 'Baughman',
 'Beachner',
 'Beagle Aircraft',
 'Becerra',
 'Bede Aircraft',
 'Beech',
 'Beechcraft',
 'Bell',
 'Bellanca',
 'Bellance',
 'Bennet',
 'Bennett',
 'Bennett Ra Oliver',
 'Berry',
 'Beyers',
 'Bilgri',
 'Billings/humbyrd',
 'Bird',
 'Birtch',
 'Bishop Thomas W',
 'Blair',
 'Blondin',
 'Boeing',
 'Boeing Stearman',
 'Bolger Scott',
 'Bowers Flybaby',
 'Bowles',
 'Bracken',
 'Bradford Haines',
 'Brand, Richard',
 'Breezy',
 'Breit',
 'Brent W. Brown',
 'British Aerospace',
 'Britten-norman',
 'Brown Floyd L',
 'Bruce E. Hotz',
 'Bucker Jungmann',
 'Burk',
 'Burke-parker',
 'Burkhart-grob',
 'Bush Caddy Usa',
 'Buttles',
 'C. Eff',
 'C.w Crane',
 'Callair',
 'Canadair',
 'Canadian Car & Foundry',
 'Carlisle',
 'Carlson Aircraft',
 'Carpenter',
 'Carter-jones',
 'Casa',
 'Cassutt',
 'Caywood',
 'Cessna',
 'Cgs Aviation',
 'Chamberlain',
 'Champion',
 'Cherkas',
 'Chevrier, Armand',
 'Chrapczynski',
 'Christen Industries',
 'Christian',
 'Cirrus',
 'Cirrus Design',
 'Cirrus Design Corp',
 'Cirrus Design Corp.',
 'Citabria',
 'Clancy',
 'Clark',
 'Clark/loken',
 'Classic Aircraft Corp.',
 'Cleberg',
 'Clement-kazmierczak',
 'Cleveland Orson',
 'Codding/fluno',
 'Colonial',
 'Colson/goodbread',
 'Coltrin',
 'Columbia',
 'Commonwealth',
 'Condor',
 'Consolidated Aero',
 'Consolidated Aeronautics Inc.',
 'Continental',
 'Convair',
 'Coot',
 'Corben',
 'Cougar',
 'Craig',
 'Crawford',
 'Creed',
 'Croke',
 'Crook',
 'Cub Crafters',
 'Cub Crafters Inc.',
 'Cubcrafters',
 'Culver',
 'Curl',
 'Curtis',
 'Curtiss-wright',
 'Cutler',
 'Dahlstrom - Piel Emeraude',
 'Dallmeyer',
 'Danbrook',
 'Daniel R. Lloyd',
 'Daniels',
 'Dantzer Lawrence L',
 'Dassault',
 'Dassault-breguet',
 'Dauntless',
 'Davenport',
 'David S Robbins',
 'Davis',
 'De Havilland',
 'Dehavilland',
 'Devereux',
 'Diamond Aircraft',
 'Diamond Aircraft Industries',
 'Dickson',
 'Dixon',
 'Doerr Raymond R',
 'Doggett Jack',
 'Douglas',
 'Downer Aircraft Industries',
 'Dta Sari',
 'Duffy/wagner',
 'Dusenberry',
 'Dutton',
 'Dwayne Smith',
 'Dye',
 'E.l. Craig',
 'Eaa',
 'Eaa Biplane',
 'Eagle',
 'Eagle Aircraft Co.',
 'Ebersole',
 'Ecker',
 'Eckstein',
 'Eclipse Aviation',
 'Edge',
 'Edwards',
 'Eiben Theodore',
 'Eipper-formance',
 'Eklund',
 'Ekornaas, Fred',
 'Eldredge',
 'Elliott Quad City Ultralight',
 'Ely',
 'Embraer',
 'Emory W. Greer, Jr.',
 'Engineering & Research',
 'Erco',
 'Ercoupe',
 'Ercoupe (eng & Research Corp.)',
 'Espinal',
 'Evans Aircraft',
 'Evektor',
 'Evektor Aerotechnic',
 'Evektor-aerotechnik As',
 'Everett',
 'Everson',
 'Extra Flugzeugbau',
 'Extra Flugzeugbau Gmbh',
 'Fairchild',
 'Fairchild Hiller',
 'Fairchild/swearingen',
 'Falcon Safety Craft Inc',
 'Falkenthal',
 'Fantasy Air',
 'Fetherolf',
 'Finney Thorp',
 'Fisher',
 'Fisher Aero',
 'Flagg',
 'Flaglor',
 'Fleet',
 'Flight Design',
 'Flight Design Gmbh',
 'Flitecraft',
 'Fly By Sea Co',
 'Fokker',
 'Foley James',
 'Forney',
 'Fortuna',
 'Foster',
 'Found Acft',
 'Found Aircraft Canada Inc',
 'Fraker',
 'Frank Turben',
 'Franz',
 'Frisby',
 'Froehlich',
 'Funk Aircraft Co.',
 'Furey',
 'Gadbois',
 'Gates Lear Jet',
 'Gates Learjet',
 'General Atomics',
 'Giroux',
 'Glasair',
 'Glassic Composites',
 'Gleason',
 'Glenn L Smith',
 'Globe',
 'Gluff, Alan',
 'Godwin, David P',
 'Golden Eagle',
 'Goodyear',
 'Gordon',
 'Grafton',
 'Gray',
 'Gray Jack',
 'Great Lakes',
 'Great Lakes Aircraft Company',
 'Gregg',
 'Grenier',
 'Grimes',
 'Grum Amer',
 'Grumman',
 'Grumman American',
 'Grumman American Avn. Corp.',
 'Grumman-schweizer',
 'Gulfstream',
 'Gulfstream Aerospace',
 'Gulfstream American',
 'Gulfstream American Corp.',
 'Gulfstream-schweizer',
 'Gunnoe',
 'Hadwise',
 'Hallquist',
 'Hamilton',
 'Hammer',
 'Hanek',
 'Hanson Gerald',
 'Harmel',
 'Harms',
 'Harold Vander',
 'Harrison Robert J.',
 'Harry D. Miller',
 'Hartman',
 'Hasch',
 'Hatz',
 'Hedeman',
 'Hein',
 'Helio',
 'Heliotech',
 'Helmer',
 'Helmetag',
 'Henes',
 'Henry',
 'Herbert O. Kellerman',
 'Herink H R/herink R W',
 'Hillery W. Grice',
 'Hirsch',
 'Hitchens',
 'Hollman',
 'Holmgreen',
 'Homebuilt',
 'Hopkins',
 'Horton',
 'Howard Aircraft Corp.',
 'Hoyt',
 'Hudson',
 'Hudspeth Shawn D',
 'Huff',
 'Huntington',
 'Iar Sa Brasov',
 'Indus',
 'Indus Aviation',
 'Ingraham',
 'Interplane',
 'Interstate',
 'Israel Aircraft Industries',
 'J.a.mullan',
 'Jabat, Inc.',
 'Jabiru Aircraft',
 'Jackson',
 'Jahns',
 'James L. Stringfellow',
 'Jeffrey Wilson',
 'Jeffs',
 'Jerald F. Huffman',
 'Jerry Garrison',
 'Jeska',
 'Jim Garrison',
 'Johnson',
 'Johnson, Douglas L.',
 'Johnson-whittman Tailwind',
 'Jones',
 'Junior Ace',
 'Jurca',
 'Kauffman',
 'Kearn',
 'Keith',
 'Kelley',
 'Kelly',
 'Ken Brock',
 'Kenetic Aviation',
 'Kinner',
 'Kirby',
 'Kitfox',
 'Kolb Company',
 'Krueger',
 'Kucklick',
 'Labarre',
 'Lake',
 'Lambert John G',
 'Lamont',
 'Lancair',
 'Lanford',
 'Langley',
 'Larry Woods',
 'Larson',
 'Lawson Special',
 'Learjet',
 'Lee',
 'Lee Harold Swarthout',
 'Lee Kolb',
 'Lemuel May',
 'Lerohl',
 'Liberty Aerospace Inc.',
 'Lidgard',
 'Lindgren Evans',
 'Linwood R. Lawrence',
 'Lockheed',
 'Loehle Ent.',
 'Long-ez',
 'Luciani',
 'Luscombe',
 'M.c. Thomas',
 'Mahoney',
 'Malott',
 'Manoucher',
 'Mapes',
 'Marcellus',
 'Marland E Davis',
 'Martin',
 'Martin-pitts',
 'Mathews',
 'Maule',
 'Maysmike',
 'Mccain',
 'Mccall',
 'Mcclary',
 'Mcdaniels',
 'Mcdonald Douglas',
 'Mcdonnell Douglas',
 'Mcdonnell-douglas',
 'Mckinley Eaa',
 'Mcnicholas',
 'Mellema',
 'Mendenhall',
 'Menefee',
 'Mercer',
 'Merkel',
 'Meshko Zenair',
 'Messing Roy',
 'Meyers Aircraft Co.',
 'Micco Aircraft Company',
 'Michael Moneyhan',
 'Midget',
 'Mignet',
 'Miller',
 'Mitchell',
 'Mitsubishi',
 'Mong',
 'Mong Sport',
 'Monocoupe',
 'Monocoupe Aircraft',
 'Mooney',
 'Mooney Aircraft Corp',
 'Mooney Aircraft Corp.',
 'Moravan',
 'Morgan, Marvin R.',
 'Morrisey',
 'Mrazek',
 'Mueller',
 'Murphy Aircraft',
 'Murray',
 'Mustang',
 'Myers',
 'Na',
 'Nash Cassutt Racer',
 'Navion',
 'Navy',
 'Neal Anderson',
 'Nelson',
 'Netz',
 'Nicely',
 'Nickel',
 'Nihon',
 'Niva',
 'Nord Aviation',
 'Norman Negus',
 'North American',
 'North American Aviation Div.',
 'Northwing',
 'Nunn',
 'Oar',
 'Ogden Aubrey D',
 'Ohlemeier/stratton',
 'Oldfield',
 'Olree Robert',
 'Olson',
 'Omac',
 'Ortiz G/saint J',
 'Osprey',
 'Palen',
 'Palmer',
 'Parks',
 'Parsons',
 'Partenavia',
 'Pavliga',
 'Peay',
 'Peck',
 'Pergerson',
 'Peter A. Geiser',
 'Peter Clark',
 'Pettigrew, Richard',
 'Phantom Sport Airplane',
 'Piaggio Aero Industries S.p.a.',
 'Pietenpol',
 'Pietsch',
 'Piggott',
 'Pilatus',
 'Pinkham',
 'Piper',
 'Piper Aircraft',
 'Piper-aerostar',
 'Piper/cub Crafters',
 'Pipistrel',
 'Pippert',
 'Pitrolo',
 'Pitts',
 'Pitts Special',
 'Playmate',
 "Ploof Progressive Aerodyne's",
 'Polcyn',
 'Porter',
 'Porter Glen',
 'Porterfield',
 'Portman',
 'Poser',
 'Potts',
 'Presley',
 'Price',
 'Progressive Aerodyne',
 'Pyramid',
 'Pzl Warzawa-cnpsl',
 'Pzl-mielec',
 'Q-berry',
 'Quad City Ultralight, Llc',
 'Quickie',
 'Quicksilver',
 'Quicksilver Manufacturing',
 'R. James Thorne',
 'Rajhamsa',
 'Ralph Sanders',
 'Rand',
 'Rand Robinson Engineering',
 'Rankin',
 'Rans, Inc.',
 'Rayan',
 'Raytheon Aircraft Company',
 'Raytheon Co',
 'Raytheon Corporate Jets',
 'Reinhart',
 'Republic',
 'Richard F. Sheldon',
 'Riley',
 'Rittal',
 'Robert J. Goodyear',
 'Robert J. Jackson',
 'Robertson',
 'Rockwell',
 'Rockwell Comdr',
 'Rockwell Commander',
 "Rockwell Int't",
 'Rockwell International',
 'Rockwell Intl',
 'Rockwell Intl.',
 'Rodgers',
 'Rolladen-schneider',
 'Ron Burleigh',
 'Ronald D. Murray',
 'Root',
 'Rose',
 'Rosenbaum',
 'Rosner',
 'Ruehle',
 'Rupp',
 'Rutan',
 'Ryan',
 'Ryan Aeronautical',
 'Ryan Aeronautics',
 'S C Aerostar S A',
 'Saab-scania Ab (saab)',
 'Sabreliner Corp.',
 'Sandall Evan R',
 'Sargent',
 'Sargent Jonathan',
 'Saunders',
 'Savage',
 'Saville Hummer',
 'Sawyer',
 'Schmidt',
 'Schroeder',
 'Schuchart',
 'Schweizer',
 'Schweizer Aircraft Corp',
 'Scottish',
 'Sea & Air Sales',
 'Selby Dean',
 'Senft/anderson/salmon',
 'Senior Aero Sport',
 'Shannon',
 'Sherman John, H',
 'Short Bros.',
 'Short Brothers',
 'Siai Marchetti',
 'Simmons',
 'Sinclair',
 'Six Chutter, Inc.',
 'Skykits',
 'Slagle',
 'Smith',
 'Smith Aerostar',
 'Smith Miniplane',
 'Smith, Ted Aerostar',
 'Snow',
 'Socata',
 'Sonerai',
 'Sons Mustang',
 'Southern Airmotive Corp Sac',
 'Spaulding',
 'Spezio',
 'Spittler',
 'Stampe',
 'Stampe Renard',
 'Stamsta',
 'Stanley, Davey L',
 'Starduster',
 'Starfire',
 'Starke',
 'Stearman',
 'Steel/vans',
 'Steen',
 'Steinbaum',
 'Stephen',
 'Steven W. Jones',
 'Stevenson',
 'Stinson',
 'Stits Flut-r-bug',
 'Stout Gordon',
 'Stys',
 'Swanson',
 'Swearingen',
 'Swearingen T R/masters W',
 'Sweeney',
 'Swing Brian S',
 'Syreini',
 'Tailwind',
 'Tanke',
 'Tanker',
 'Taplin',
 'Taylor',
 'Taylorcraft',
 'Ted Smith',
 'Temco',
 'Theordore Jankowski',
 'Thomas',
 'Thomson',
 'Thorp',
 'Thurston',
 'Tifft-v',
 'Tolsma Tony G',
 'Tomash',
 'Trinidad',
 'Truitt Peter',
 'Univair',
 'Univar',
 'Unknown',
 'Utterback',
 'Utva',
 "Van's Aircraft, Inc",
 'Vans',
 'Vans Aircraft',
 'Varga',
 'Varieze',
 'Velocity',
 'Veltman',
 'Veltman, Robert',
 'Villarubia',
 'Villeneuve',
 "Villine's",
 'Volksplane',
 'Volmer Aircraft',
 'Von Berg',
 'Waco',
 'Waco Classic Aircraft',
 'Waco Classic Aircraft Corp',
 'Waco Classic Aircraft Corp.',
 'Wagner',
 'Wahl',
 'Wainscott',
 'Waltz',
 'Wampole',
 'Ward Rc',
 'Waterwings, Inc',
 'Wayne Ison',
 'Weatherly',
 'Weaver, David A',
 'Weber',
 'Welch',
 'Wells',
 'Wheeler',
 'Whitlock',
 'Whittman',
 'Wilford J. Tolman',
 'William F. Lair',
 'William K. Crawford',
 'Williams',
 'Wilson',
 'Wing',
 'Wood/thorpe',
 'Woolley John A',
 'Wootton, John',
 'Wrb Associates, Llc.',
 'Wroblewski',
 'Wsk Pzl Mielec',
 'Wsk-pzl Warzawaokecie',
 'Yakovlev',
 'Yamokoski',
 'Youkey',
 'Young',
 'Zaverton Elmer',
 'Zenair'}

In [25]:
df[['Investigation.Type', 'Make']]

      Investigation.Type                            Make
7               Accident                          Cessna
8               Accident                          Cessna
12              Accident                        Bellanca
13              Accident                          Cessna
14              Accident                          Navion
...                  ...                             ...
63904           Accident                          Cessna
63905           Accident  Ercoupe (eng & Research Corp.)
63909           Accident             Cirrus Design Corp.
63910           Accident                          Lerohl
63911           Accident                           Piper

[6187 rows x 2 columns]

# Which model has the most accidents

In [38]:
accidents_df = df[['Investigation.Type', 'Make']].value_counts()

In [27]:
df.head()

,Investigation.Type,Make,Model,Aircraft.Category,Aircraft.damage,Injury.Severity,Broad.phase.of.flight,Purpose.of.flight,Publication.Date
7,Accident,Cessna,140,Airplane,Substantial,Non-Fatal,Takeoff,Personal,01-01-1982
8,Accident,Cessna,401B,Airplane,Substantial,Non-Fatal,Landing,Business,01-01-1982
12,Accident,Bellanca,17-30A,Airplane,Destroyed,Non-Fatal,Cruise,Personal,02-01-1983
13,Accident,Cessna,R172K,Airplane,Destroyed,Fatal(1),Takeoff,Personal,02-01-1983
14,Accident,Navion,A,Airplane,Destroyed,Fatal(1),Cruise,Personal,02-01-1983

In [28]:
df['Aircraft.damage'].value_counts()

Substantial    4890
Destroyed      1159
Minor           138
Name: Aircraft.damage, dtype: int64

In [29]:
#We can filter models with minor aircraft damage

In [30]:
damage_filt = df['Aircraft.damage'] == 'Minor'
df.loc[damage_filt, 'Make'].value_counts()

Piper                    26
Cessna                   24
Beech                    17
Boeing                   16
Swearingen                6
De Havilland              5
Rockwell                  5
Douglas                   3
Aeronca                   3
Lockheed                  3
Gulfstream American       2
Mooney                    2
Grumman                   2
Mcdonnell Douglas         2
Embraer                   2
Bellanca                  2
North American            1
Mcdonnell-douglas         1
Franz                     1
Nunn                      1
Ayres                     1
Maule                     1
Saab-scania Ab (saab)     1
Learjet                   1
Short Bros.               1
Aviat                     1
Mitsubishi                1
Quicksilver               1
Gates Lear Jet            1
Taylorcraft               1
Fairchild/swearingen      1
Gates Learjet             1
Convair                   1
Nord Aviation             1
Name: Make, dtype: int64

In [31]:
damage_filt = df['Aircraft.damage'] == 'Substantial'

df.loc[damage_filt, 'Make'].value_counts()

Cessna                   2032
Piper                     980
Beech                     298
Grumman                    92
Mooney                     87
                         ...
Hillery W. Grice            1
Senft/anderson/salmon       1
Bolger Scott                1
Rockwell Commander          1
Slagle                      1
Name: Make, Length: 618, dtype: int64

In [32]:
damage_filt = df['Aircraft.damage'] == 'Destroyed'

df.loc[damage_filt, 'Make'].value_counts()

Cessna        427
Piper         252
Beech          99
Grumman        44
Mooney         28
             ...
Omac            1
Casa            1
Buttles         1
Moravan         1
J.a.mullan      1
Name: Make, Length: 163, dtype: int64

In [34]:
make_damage_filt = (df['Aircraft.damage'] == 'Destroyed') & (df['Make'] == 'Cessna')
df[make_damage_filt]

,Investigation.Type,Make,Model,Aircraft.Category,Aircraft.damage,Injury.Severity,Broad.phase.of.flight,Purpose.of.flight,Publication.Date
13,Accident,Cessna,R172K,Airplane,Destroyed,Fatal(1),Takeoff,Personal,02-01-1983
17,Accident,Cessna,180,Airplane,Destroyed,Fatal(3),Unknown,Personal,02-01-1983
25,Accident,Cessna,414A,Airplane,Destroyed,Fatal(8),Approach,Business,03-01-1983
34,Accident,Cessna,T337G,Airplane,Destroyed,Fatal(2),Cruise,Personal,04-01-1983
36,Accident,Cessna,206,Airplane,Destroyed,Fatal(1),Taxi,Business,04-01-1983
...,...,...,...,...,...,...,...,...,...
63815,Accident,Cessna,R182,Airplane,Destroyed,Fatal(2),Unknown,Instructional,26-01-2010
63822,Accident,Cessna,152,Airplane,Destroyed,Fatal(2),Cruise,Instructional,10-09-2015
63827,Accident,Cessna,172E,Airplane,Destroyed,Non-Fatal,Takeoff,Personal,31-03-2008
63874,Accident,Cessna,310,Airplane,Destroyed,Fatal(2),Unknown,Personal,28-12-2008
63899,Accident,Cessna,310R,Airplane,Destroyed,Fatal(1),Approach,Personal,05-08-2011

TypeError: '(7        False
8        False
12       False
13        True
14       False
         ...
63904    False
63905    False
63909    False
63910    False
63911    False
Length: 6187, dtype: bool, 'Make')' is an invalid key

In [36]:
top_5_destroyed

['Investigation.Type',
 'Make',
 'Model',
 'Aircraft.Category',
 'Aircraft.damage',
 'Injury.Severity',
 'Broad.phase.of.flight',
 'Purpose.of.flight',
 'Publication.Date']